.container {
  max-width: 500px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.container input,
.container textarea,
.container button {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
}

.container input :hover,
.container textarea:hover{
color:#7b4dff;
}
button {
  background-color: #5e2ced;
  color: white;
  border: none;
  border-radius: 5px;
}
.cancel {
  background-color: #d9534f;
}
