body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f8f8f8;
}

.header{
    display: flex;
    align-items: centre;
}

.container {
  max-width: 400px;
  margin: auto;
  padding: 1rem;
  background-color: #fff;
  min-height: 100vh;
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.order-card {
  display: flex;
  align-items: center;
  background-color: #efefef;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.order-card img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 10px;
}

.order-details {
  display: flex;
  flex-direction: column;
}

.product-name {
  font-weight: bold;
  margin: 2px 0;
}

.product-price {
  color: #444;
  margin: 2px 0;
}

.order-status {
  font-size: 0.9rem;
  color: #666;
  margin-top: 5px;
}

.back-button {
  font-size: 18px;
  padding: 10px 15px;
  cursor: pointer;
  display: inline-block;
  color: #333;
  font-weight: bold;
  border-radius: 5px;
  margin: 15px;
  width: fit-content;
  transition: background-color 0.2s;
}

.back-button:hover {
  background-color: #ddd;
}