 body {
      margin: 0;
      font-family: 'Poppins', sans-serif;
      background-color: #f5f5f5;
    }

    .top-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #eee;
      padding: 10px;
      border-bottom: 1px solid #ccc;
    }

    .top-bar button {
      padding: 10px 15px;
      border: none;
      background-color: #ddd;
      cursor: pointer;
      border-radius: 5px;
      font-weight: bold;
    }

    .product-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
      padding: 10px;
    }

    .product-card {
      background-color: #e5e7eb;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      padding: 10px;
      text-align: center;
    }

    .product-card img {
      max-width: 80px;
      margin-bottom: 10px;
      background-color:white;
    }

    .product-details {
      font-size: 14px;
      text-align: left;
    }

   .btn:hover{
    background-color: #A78BFA;
   }

   .product-link {
  text-decoration: none;
  color: inherit;
  display: block;
}